<!-- Landing Page for Habit Tracker -->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1> <i class="fa-solid fa-bullseye"></i>Habit Tracker
                <br />
               
            </h1>
          <!-- Registration and Login Options -->
            
            <!-- Option to create a new account -->
            <h4>Create account </h4>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <!-- Option to log in if you already have an account -->
            <h4> Login if you have account</h4>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>